/* All styles for your Card Components live here */

.bottom-link {
    width:45%;
    display:flex;
    flex-direction:column;
    margin-left:5%;
};

.bottom-link a {
    text-decoration:none;
    color:black;
    font-style:none;
};

/* The colors for JS link is somehow automatic? */

.card-img {
    width:100%;
}
.card-img img {
    width:100%;
}




